version: "3"
services:
  nginx:
    build:
      context: .
    volumes:
      - ./logs:/var/log/nginx
      - /tmp/:/tmp/
    environment:
      - LETSENCRYPT_HOST={% for dn in domains %}{{ dn }} {% endfor %}
      - LETSENCRYPT_EMAIL={{ contact_mail }}

