from .settings import *

DEBUG=True

AUTHORIZED_HOSTS = [
    "{{ domain }}",
]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ project_name }}',
        'USER': '{{ project_name }}',
        'PASSWORD': '{{ project_name }}pwd',
        'HOST': 'db',
        'PORT': '5432',
    }
}
